<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">{{rows.length > 0 ? rows.length : 0}}</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
            <button flex="none" class="flat-button" ng-click="addPayment()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Upload Cheques 
            </button>
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <!-- <th> Item #</th> -->
                <th> Tenant Name</th>
                <th> Cheque Number</th>
                <th> Cheque Amount </th>
                <th> Cheque Bank</th>
                <th> Cheque Date</th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="5" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <!-- <td > {{row.item_number}} </td> -->
                <td ng-click="showCompleteDetails(row)"> {{row.tenant_name}} </td>
                <td> {{row.cheque_number}} </td>
                <td> {{row.cheque_amount}} </td>
                <td> {{row.cheque_bank}} </td>
                <td> {{row.cheque_date}} </td>
            </tr>
        </table>
    </div>
</div>
<div ng-if="showSideNavAddPaymentFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form name="addForm" flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Upload Cheques to Tenant</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Tenant <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" ng-model="selectedTenant" ng-init="selectedTenant = tenantList[0]" ng-options="tenant.tenant_name for tenant in tenantList track by tenant.tenant_id" ng-selected="selectedTenant" ng-change="ChangeTenant(selectedTenant)"></select>
            </span>

            <!-- <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Payment Method <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" ng-model="selectedPaymentMethod" ng-init="selectedPaymentMethod = paymentMethod[0]" ng-options="method for method in paymentMethod" ng-selected="selectedTenant" ng-change="ChangePaymentMethod(selectedPaymentMethod)"></select>
            </span> -->
            
            <span flex="none" layout="column" layout-align="start stretch" class="sidebar-form-input-group">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Cheque Details <i class="required"> * </i></span>
                <span flex="none" layout layout-align="start stretch" class="sidebar-form-group" ng-repeat="paymentDetail in paymentDetails track by $index">
                    <span flex="none" layout layout-align="start stretch" style="width:25%">
                        <input type="text" placeholder="Cheque Number" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail.cheque_number" required>
                    </span>
                    <span flex="none" my-setter width-in-percent="1"></span>
                    <span flex="none" layout layout-align="center stretch">
                        <input type="text" placeholder="Bank" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail.cheque_bank" required>
                    </span>
                    <span flex="none" my-setter width-in-percent="1"></span>
                    <span flex="none" layout layout-align="center stretch" >
                        <input type="date" placeholder="Date mm/dd/yyyy" class="sidebar-form-input" layout layout-align="center center" ng-model="paymentDetail.cheque_date" required>
                    </span>
                    <span flex="none" my-setter width-in-percent="1"></span>
                    <span flex="none" layout layout-align="center stretch" >
                        <input type="number" placeholder="Amount" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail.cheque_amount" required>
                    </span>
                </span>
            <span>
            <span flex="none" layout layout-align="start stretch">
                <div flex layout layout-align="start stretch">
                    <md-button flex class="md-raised buttons-submit" ng-click="AddNewPaymentDetail()"> Add New Cheque </md-button>
                </div>
            </span>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="uploadCheques($event)" ng-disabled="addForm.$error.required.length > 0"> Upload Cheques </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button>
        </div> 
    </form>
</div>

<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Cheque Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <!-- <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Item # </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
            </span> -->
            <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Tenant <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" 
                    ng-model="selectedTenant" ng-init="selectedTenant" ng-options="tenant as tenant.tenant_name for tenant in tenantList" 
                    ng-selected="selectedTenant" ng-change="ChangeTenant(selectedTenant)" required ng-disabled ="disable">
                </select>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Cheque Number <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="payment.cheque_number" required ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Cheque Date </span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="payment.cheque_date" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Bank </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="payment.cheque_bank" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Amount <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="payment.cheque_amount" required ng-disabled="disable">
            </span>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-delete-button" ng-disabled="addForm.$error.required.length > 0" ng-if="disable" ng-click="deletePayment(payment)"> 
                <span> Delete Cheque </span>
            </button>
            <span class="space-between-buttons"></span>
            <div flex layout="row" layout-align="start stretch" class="sidebar-form-button" ng-if="disable">
                <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
            </div>
        </div>
        
        <!-- <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-disabled="addForm.$error.required.length > 0" ng-click="editPayable()" > 
                <span ng-if="disable"> Edit Payable </span>
                <span ng-if="!disable"> Update Payable </span>
            </button>
            
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
        </div> -->
    </form>
</div>