<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
    <div flex layout layout-align="start center"> <span class="emphasize">{{rows.length > 0 ? rows.length : 0}}</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
            <button flex="none" class="flat-button" ng-click="addNewRoom()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add New Room 
            </button>
            <button flex="none" class="flat-button" ng-click="payRentWhole()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Pay Rent 
            </button>
            <!-- <button flex="none" class="flat-button" ng-click="" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Pay Rent per Tenant 
            </button> -->
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <th> Room #</th>
                <th> Floor #</th>
                <th> Tenant Count</th>
                <th> Capacity Count</th>
                <th> Room rate </th>
                <th> Room Status </th>
            </tr>
            <tr ng-if="roWs.length == 0" class="empty-table"> 
                <td colspan="6" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td ng-click="showCompleteRoomDetails(row)"> {{row.room_number}} </td>
                <td> {{row.floor_number}} </td>
                <td> {{row.tenant_count}} </td>
                <td> {{row.capacity_count}} </td>
                <td> {{row.room_rate}} </td>
                <td width="100"> 
                    <div class="active-status" ng-if="row.capacity_count != row.tenant_count">Not Full</div>
                    <div class="error-status" ng-if="row.capacity_count == row.tenant_count">Full</div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form name="addForm" flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Add New Room</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Room # <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.room_number" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Floor # <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.floor_number" required>
            </span>
            <!-- <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Tenant Count</span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch">
            </span> -->
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Capacity Count <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.capacity_count" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Room rate per person <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.room_rate" required>
            </span>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addRoom()" ng-disabled="addForm.$error.required.length > 0" > Add New Room </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
        </div>
    </form>
</div>
<div ng-if="showSideNavPayWhole" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form name="addForm" flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Complete Room Payment</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="breakdown-form-label" layout layout-align="start center"> Room <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" 
                    ng-model="selectedRoom"  ng-options="room as room.room_number for room in roomList" 
                    ng-selected="selectedRoom" ng-change="ChangeRoom(selectedRoom, $index)" required>
                </select>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="breakdown-form-label" layout layout-align="start center"> Month <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="payment_duration.month">
            </span>
            <!-- <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Tenant Count</span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch">
            </span> -->
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="breakdown-form-label" layout layout-align="start center"> Year <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="payment_duration.year">
            </span>
            <!-- <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="breakdown-form-label" layout layout-align="start center"> Amount <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="pay_whole.amount">
            </span> -->
            <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="breakdown-form-label" layout layout-align="start center"> Payment Type <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" 
                    ng-model="selectedPaymentType" ng-init="selectedPaymentType" ng-options="type for type in paymentType" 
                    ng-selected="selectedPaymentType" ng-change="ChangePaymentType(selectedPaymentType, $index)" required>
                </select>
            </span>
            <div class="sidebar-form-content" ng-repeat="(key, value) in tenantCheques track by $index" ng-if="selectedPaymentType =='Per Tenant'">
                <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> {{key}} Payment Type <i class="required"> * </i> </span>
                    
                    <select layout layout-align="start stretch" class="sidebar-form-input" 
                        ng-model="payment"  ng-init="tenantCheques[key].selected_payment" ng-options="payment as payment.payment_name for payment in tenantCheques[key]['payment']" 
                        ng-selected="payment" ng-change="ChangePayment(payment, key, $index)" required>
                    </select>
                </span>
                <span flex="none" layout layout-align="center stretch" class="sidebar-form-input" ng-if="tenantCheques[key].selected_payment.payment_name === 'Cheque'">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> {{key}} Cheque <i class="required"> * </i> </span>
                    <select layout layout-align="start stretch" class="sidebar-form-input" 
                        ng-model="cheque"  ng-init="tenantCheques[key].selected_cheque" ng-options="cheque as cheque.cheque_number for cheque in tenantCheques[key]['cheques']" 
                        ng-selected="cheque" ng-change="ChangeCheque(cheque, key, $index)" required>
                    </select>
                </span> 
                <span flex="none" layout layout-align="center stretch" class="sidebar-form-input" ng-if="tenantCheques[key].selected_payment.payment_name === 'Cash'">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> {{key}} Payment Amount <i class="required"> * </i> </span>
                    <input type="number" class="sidebar-form-input" layout layout-align="start stretch" 
                    ng-model="tenantCheques[key].payment_amount">
                </span> 
            </div>
            <div class="sidebar-form-content" ng-if="selectedPaymentType =='Whole'">
                <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> Tenant Name<i class="required"> * </i> </span>
                    
                    <select layout layout-align="start stretch" class="sidebar-form-input" 
                        ng-model="selectedTenant"  ng-options="key for (key , value) in tenantCheques" 
                        ng-change="ChangeTenantWholePayment(selectedTenant)" required> <!-- ng-init="tenantCheques[key]"-->
                    </select>
                </span>
                  <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> {{key}} Payment Type <i class="required"> * </i> </span>
                    <select layout layout-align="start stretch" class="sidebar-form-input" 
                        ng-model="selectedTenant.selected_payment"  ng-init="selectedTenant['payment'][0]" ng-options="payment as payment.payment_name for payment in selectedTenant['payment']" 
                        ng-selected="selectedTenant.selected_payment" ng-change="ChangePaymentWhole(payment, $index)" required>
                    </select>
                </span>
                <span flex="none" layout layout-align="center stretch" class="sidebar-form-input" ng-if="selectedTenant.selected_payment.payment_name === 'Cheque'">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> {{key}} Cheque <i class="required"> * </i> </span>
                    <select layout layout-align="start stretch" class="sidebar-form-input" 
                        ng-model="selectedTenant.selected_cheque"  ng-init="selectedTenant.selected_cheque" ng-options="cheque as cheque.cheque_number for cheque in selectedTenant['cheques']" 
                        ng-selected="selectedTenant.selected_cheque" ng-change="ChangeChequeWhole(cheque, $index)" required>
                    </select>
                </span> 
                <span flex="none" layout layout-align="center stretch" class="sidebar-form-input" ng-if="selectedTenant.selected_payment.payment_name === 'Cash'">
                    <span flex="none" class="breakdown-form-label" layout layout-align="start center"> {{key}} Payment Amount <i class="required"> * </i> </span>
                    <input type="number" class="sidebar-form-input" layout layout-align="start stretch" 
                    ng-model="selectedTenant.payment_amount">
                </span>   
            </div>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="payRent()" ng-disabled="addForm.$error.required.length > 0" > Pay Rent </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
        </div>
    </form>
</div>
<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-special-white-space"></div>
     <div flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch" ng-if="selectedTab = 'tenant'">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >View Room Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" class="sidebar-form-tab" layout="row" layout-align="start stretch">
            <div flex ng-repeat="tab in roomTabs" layout layout-align="center center" 
                ng-click="ChangeRoomTab(tab)" ng-class="currentTab === tab ? 'tab-active' : ''"> 
                {{tab}} 
            </div>
        </div>
        <div flex layout layout-align="start stretch" ng-if="currentTab == 'Room Details'">
            <div flex="none" class="sidebar-white-space"></div>
            <form name="addForm" flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
                <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Room # <i class="required"> * </i></span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.room_number">
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Floor # <i class="required"> * </i></span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.floor_number">
                    </span>
                    <!-- <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Tenant Count</span>
                        <input type="number" class="sidebar-form-input" layout layout-align="start stretch">
                    </span> -->
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Capacity Count <i class="required"> * </i></span>
                        <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.capacity_count">
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Room rate per person <i class="required"> * </i></span>
                        <input type="number" class="sidebar-form-input" layout layout-align="start stretch" required ng-model="room.room_rate">
                    </span>
                </div>
                <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
                <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
                    <button flex class="page-add-button" ng-click="addRoom()" ng-disabled="addForm.$error.required.length > 0" > Add New Room </button>
                    <span class="space-between-buttons"></span>
                    <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
                </div>
            </form>
        </div>
        <div flex layout layout-align="start stretch" ng-if="currentTab == 'Tenants'">
            <div flex layout="column" layout-align="start stretch" class="sidebar-form-content">
                <table class="page-table">
                    <tr>
                        <th> Tenant Name</th>
                        <th> Start Contract</th>
                        <th> End Contract</th>
                        <th> Contact Number </th>
                        <th> Emergency Contact Name</th>
                        <th> Emergency Contact Number</th>
                        <th> Birthday</th>
                    </tr>
                    <tr ng-repeat="row in tenantRows track by $index">
                        <td> {{row.tenant_name}} </td>
                        <td> {{row.start_contract}} </td>
                        <td> {{row.end_contract}} </td>
                        <td> {{row.contact_number}} </td>
                        <td> {{row.emergency_name}} </td>
                        <td> {{row.emergency_number}} </td>
                        <td> {{row.birthday}} </td>
                    </tr>
                </table> 
            </div>
        </div>
        <div flex layout layout-align="start stretch" ng-if="currentTab == 'Inventory'">
            <div flex layout="column" layout-align="start stretch" class="sidebar-form-content">
                 <table class="page-table">
                    <tr>
                        <th> Item Code #</th>
                        <th> Item Name</th>
                        <th> Description</th>
                        <th> Room # </th>
                        <th> Status </th>
                    </tr>
                    <tr ng-if="inventoryRows.length == 0" class="empty-table"> 
                        <td colspan="6" align="center"> No Data </td>
                    </tr>
                    <tr ng-repeat="row in inventoryRows track by $index">
                        <td> {{row.item_code}} </td>
                        <td> {{row.item_name}} </td>
                        <td> {{row.description}} </td>
                        <td> {{row.room_number}} </td>
                        <td> {{row.status}} </td>
                    </tr>
                </table>  
            </div>
        </div>
    </div>
</div>