<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">{{rows.length}}</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
             <!-- <button flex="none" class="flat-button" ng-click="addPayment()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add Cheque Payment 
            </button> -->
            <button flex="none" class="flat-button" ng-click="backToTenant()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/left-arrow.png" layout layout-align="center center" >Back to Tenant List
            </button>


        </div>
    </div>
    <div flex="none" class="sidebar-form-tab" layout="row" layout-align="start stretch">
        <div flex ng-repeat="tab in tenantTab" layout layout-align="center center" 
            ng-click="ChangeTenantTab(tab)" ng-class="currentTab === tab ? 'tab-active' : ''"> 
            {{tab}} 
        </div>
    </div>
    <div flex="none" layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table" ng-if="currentTab == 'Details'">
            <tr>
                <th> Tenant Name</th>
                <th> Birthday</th>
                <th> Contact Number</th>
                <th> Emergency Contact Name</th>
                <th> Emergency Contact Number</th>
                <th> Start of Contract</th>
                <th> End of Contract</th>
                <th> Address</th>
                <th> Assigned to Room </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="9" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows">
                <td ng-click="modifyTenantDetails(row)"> {{row.tenant_name}} </td>
                <td> {{row.birthday}} </td>
                <td> {{row.contact_number}} </td>
                <td> {{row.emergency_name}} </td>
                <td> {{row.emergency_number}} </td>
                <td> {{row.start_contract}} </td>
                <td> {{row.end_contract}} </td>
                <td> {{row.address}} </td>
                <td width="100"> 
                    <div class="active-status" ng-if="row.room_tenant_status === 'active'">Assigned</div>
                    <div class="error-status" ng-if="row.room_tenant_status === null">Not assigned</div>
                </td>
            </tr>
        </table>
         <table class="page-table" ng-if="currentTab == 'Inventory'">
            <tr>
                <th> Item Code #</th>
                <th> Item Name</th>
                <th> Item Description</th>
                <th> Rent Start Date </th>
                <th> Rent End Date </th>
                <th> Rent Amount </th>
                <th> Status </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="7" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td> {{row.item_code}} </td>
                <td> {{row.item_name}} </td>
                <td> {{row.description}} </td>
                <td> {{row.start_date}} </td>
                <td> {{row.end_date}} </td>
                <td> {{row.rent_amount}} </td>
                <td> {{row.status}} </td>
            </tr>
        </table>
        <table class="page-table" ng-if="currentTab == 'Services'">
            <tr>
                <th> Service Name</th>
                <th> Service Description</th>
                <th> Service Fee</th>
                <th> Recurrence
                <th> Service Start Date </th>
                <th> Service End Date </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="6" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td> {{row.service_name}} </td>
                <td> {{row.service_description}} </td>
                <td> {{row.service_fee}} </td>
                <td> {{row.recurrence}} </td>
                <td> {{row.start_date}} </td>
                <td> {{row.end_date}} </td>
            </tr>
        </table>
        <table class="page-table" ng-if="currentTab == 'Cheque List'">
            <tr>
                <th> Cheque Number</th>
                <th> Cheque Amount</th>
                <th> Cheque Bank</th>
                <th> Cheque Date </th>
                <th> Status </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="6" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td> {{row.cheque_number}} </td>
                <td> {{row.cheque_amount}} </td>
                <td> {{row.cheque_bank}} </td>
                <td> {{row.cheque_date}} </td>
                <td width="100">
                    <div class="active-status" ng-if="row.room_tenant_status === 'deleted'">Deleted</div>
                    <div class="active-status" ng-if="row.room_tenant_status === 'approval'">Approval</div>
                    <div class="active-status" ng-if="row.room_tenant_status === 'encashed'">Encashed</div>
                    <div class="info-status" ng-if="row.room_tenant_status === active">Not assigned</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Edit Tenant Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.tenant_name" ng-disabled="disable" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Birthday </span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.birthday" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Mobile No </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.contact_number" ng-disabled="disable" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency Contact </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.emergency_name" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency No </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.emergency_number" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Address </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.address" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Start of Contract </span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.start_contract" ng-disabled="disable" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> End of Contract </span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="activeTenant.end_contract" ng-disabled="disable" required>
            </span>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
            <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
            <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
                <button flex class="page-add-button" ng-disabled="addForm.$error.required.length > 0" ng-click="editTenant(activeTenant)" > 
                    <span ng-if="disable"> Edit Tenant </span>
                    <span class="space-between-buttons"></span>
                    <span ng-if="!disable"> Update Tenant </span>
                </button>
                <span class="space-between-buttons"></span>
                <button flex class="page-delete-button" ng-disabled="addForm.$error.required.length > 0" ng-if="disable" ng-click="deleteTenant(activeTenant)"> 
                    <span> Delete Tenant </span>
                </button>
                <button flex class="page-cancel-button" class="sidebar-form-button" ng-if="!disable" ng-click="CloseSidebar()"> 
                    <span> Cancel </span>
                </button>
            </div>
            <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button" ng-if="disable">
                <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
            </div>
        </div>
    </form>
</div>