<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">3</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
            <button flex="none" class="flat-button" ng-click="addNewInventory()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add New Inventory 
            </button>
            <button flex="none" class="flat-button" ng-click="downloadPage()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/download-button.png" layout layout-align="center center" >Download 
            </button>
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <th> Item #</th>
                <th> Item Name</th>
                <th> Description</th>
                <th> Status</th>
                <th> Location</th>
                <th> </th>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td ng-click="showCompleteDetails()"> {{row.item_number}} </td>
                <td> {{row.item_name}} </td>
                <td> {{row.description}} </td>
                <td> {{row.status}} </td>
                <td> {{row.location}} </td>
                <td> </td>
            </tr>
        </table>
    </div>
</div>
<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <ng-form flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Add New Inventory</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Item # </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Item Name </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Description</span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Status </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Location </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
        </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addNewItem()"> Add New Item </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="closeSidebar()"> Cancel </button> 
        </div>
    </ng-form>
</div>

<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <div flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Inventory Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Item # </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Item Name </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Description</span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Status </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Location </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
            </span>
        </div>
    </div>
</div>