<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">{{rows.length}}</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
             <button flex="none" class="flat-button" ng-click="addPayment()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add Cheque Payment 
            </button> 
            <button flex="none" class="flat-button" ng-click="addNewTenant()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add New Tenant 
            </button>
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <th> Tenant Name</th>
                <th> Birthday</th>
                <th> Contact Number</th>
                <th> Emergency Contact Name</th>
                <th> Emergency Contact Number</th>
                <th> Start of Contract</th>
                <th> End of Contract</th>
                <th> Address</th>
            </tr>
            <tr ng-repeat="row in rows">
                <td ng-click="showCompleteDetails(row)"> {{row.tenant_name}} </td>
                <td> {{row.birthday}} </td>
                <td> {{row.contact_number}} </td>
                <td> {{row.emergency_name}} </td>
                <td> {{row.emergency_number}} </td>
                <td> {{row.start_contract}} </td>
                <td> {{row.end_contract}} </td>
                <td> {{row.address}} </td>
            </tr>
        </table>
    </div>
</div>
<!-- Add New Tenant -->
<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form name="addForm" flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Add New Tenant</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.tenant_name" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Birthday <i class="required"> * </i></span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.birthday"required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Contact No <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.contact_number" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency Contact </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.emergency_name">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency No </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.emergency_number">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Address </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.address">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Start of Contract <i class="required"> * </i></span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.start_contract" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> End of Contract <i class="required"> * </i></span>
                <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.end_contract" required>
            </span>
            <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addTenant($event)" ng-disabled="addForm.$error.required.length > 0"> Add New Tenant </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
        </div>
    </form>
</div>
<!-- View Tenant Details -->
<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <!-- <div flex="none" class="sidebar-special-white-space"></div> -->
    <div flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >View Tenant Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" class="sidebar-form-tab" layout="row" layout-align="start stretch">
            <div flex ng-repeat="tab in tenantTab" layout layout-align="center center" 
                ng-click="ChangeTenantTab(tab)" ng-class="currentTab === tab ? 'tab-active' : ''"> 
                {{tab}} 
            </div>
        </div>
        <div flex layout="row" layout-align="start stretch" class="sidebar-form-content" ng-if="currentTab == 'Details'">
            <div flex layout="column" layout-align="start stretch" class="sidebar-form-defined-details" >
                <span flex="none" class="defined-header">Basic Information</span>
                <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content form-padding" >
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.tenant_name" disabled required>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Birthday </span>
                        <input type="date" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.birthday" disabled required>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Mobile No </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.contact_number"disabled required>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency Contact </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.emergency_name" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency No </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.emergency_number" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Address </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.address" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Start of Contract </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.start_contract" disabled required>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> End of Contract </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="tenant.end_contract" disabled required>
                    </span>
                </div>
                <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
                <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
                <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
                    <button flex class="page-add-button" ng-disabled="addForm.$error.required.length > 0" ng-click="editTenant()" > 
                        <span ng-if="disable"> Edit Tenant </span>
                        <span ng-if="!disable"> Update Tenant </span>
                    </button>
                    <span class="space-between-buttons"></span>
                    <button flex class="page-delete-button" ng-disabled="addForm.$error.required.length > 0" ng-if="disable" ng-click="deleteTenant(tenant)"> 
                        <span> Delete Tenant </span>
                    </button>
                    <button flex class="page-cancel-button" class="sidebar-form-button" ng-if="!disable" ng-click="CloseSidebar()"> 
                        <span> Cancel </span>
                    </button>
                </div>
                <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button" ng-if="disable">
                    <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
                </div>
            </div>
            
        </div>
        <table class="page-table" ng-if="currentTab == 'Inventory'">
            <tr>
                <th> Item Code #</th>
                <th> Item Name</th>
                <th> Item Description</th>
                <th> Rent Start Date </th>
                <th> Rent End Date </th>
                <th> Rent Amount </th>
                <th> Status </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="7" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td> {{row.item_code}} </td>
                <td> {{row.item_name}} </td>
                <td> {{row.description}} </td>
                <td> {{row.start_date}} </td>
                <td> {{row.end_date}} </td>
                <td> {{row.rent_amount}} </td>
                <td> {{row.status}} </td>
            </tr>
        </table>
        <table class="page-table" ng-if="currentTab == 'Services'">
            <tr>
                <th> Service Name</th>
                <th> Service Description</th>
                <th> Service Fee</th>
                <th> Recurrence
                <th> Service Start Date </th>
                <th> Service End Date </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="6" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td> {{row.service_name}} </td>
                <td> {{row.service_description}} </td>
                <td> {{row.service_fee}} </td>
                <td> {{row.recurrence}} </td>
                <td> {{row.start_date}} </td>
                <td> {{row.end_date}} </td>
            </tr>
        </table>
        <!-- <div flex layout="row" layout-align="start stretch" class="sidebar-form-content" >
            
        </div> -->
        <div flex layout="row" layout-align="start stretch" class="sidebar-form-content" ng-if="currentTab == 'Payment History'">
            BCDE
        </div>
        <div flex layout="row" layout-align="start stretch" class="sidebar-form-content" ng-if="currentTab == 'Room'">
            CDEF
        </div>
        <div flex layout="row" layout-align="start stretch" class="sidebar-form-content" ng-if="currentTab == 'Payment Details'">
            DEFG
        </div>
    </div>
</div>
<!-- Add Payment -->
<div ng-if="addPaymentFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <form name="addForm" flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Add Payment to Tenant</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Tenant <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" ng-model="selectedTenant" ng-init="selectedTenant = rows[0]" ng-options="tenant.tenant_name for tenant in rows track by tenant.tenant_id" ng-selected="selectedTenant" ng-change="ChangeTenant(selectedTenant)"></select>
            </span>

            <!-- <span flex="none" layout layout-align="start stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Payment Method <i class="required"> * </i></span>
                <select layout layout-align="start stretch" class="sidebar-form-input" ng-model="selectedPaymentMethod" ng-init="selectedPaymentMethod = paymentMethod[0]" ng-options="method for method in paymentMethod" ng-selected="selectedTenant" ng-change="ChangePaymentMethod(selectedPaymentMethod)"></select>
            </span> -->
            
            <span flex="none" layout="column" layout-align="start stretch" class="sidebar-form-input-group">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Cheque Details <i class="required"> * </i></span>
                <span flex="none" layout layout-align="start stretch" class="sidebar-form-group" ng-repeat="paymentDetail in paymentDetails track by $index">
                    <span flex="none" layout layout-align="start stretch" style="width:250px">
                        <input type="text" placeholder="Cheque Number" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail.cheque_number" required>
                    </span>
                    <span flex="none" my-setter width-in-percent="1"></span>
                    <span flex="none" layout layout-align="center stretch">
                        <input type="text" placeholder="Bank" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail.cheque_bank" required>
                    </span>
                    <span flex="none" my-setter width-in-percent="1"></span>
                    <span flex="none" layout layout-align="center stretch" >
                        <input type="date" placeholder="Date mm/dd/yyyy" class="sidebar-form-input" layout layout-align="center center" ng-model="paymentDetail.cheque_date" required>
                    </span>
                    <span flex="none" my-setter width-in-percent="1"></span>
                    <span flex="none" layout layout-align="center stretch" >
                        <input type="number" placeholder="Amount" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail.amount" required>
                    </span>
                </span>
            <span>
            <span flex="none" layout layout-align="start stretch">
                <div flex layout layout-align="start stretch">
                    <md-button flex class="md-raised buttons-submit" ng-click="AddNewPaymentDetail()"> Add New Cheque Detail </md-button>
                </div>
            </span>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addNewPaymentDetails($event)" ng-disabled="addForm.$error.required.length > 0"> Add New Payment </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button>
        </div> 
    </form>
</div>

 <!-- <span flex="none" layout="column" layout-align="start stretch" height-in-percent="100">
                    <div flex layout="row" layout-align="start stretch" ng-repeat="paymentDetail in paymentDetails track by $index" my-setter padding="5">
                        <div flex="20" layout layout-align="start stretch">
                            <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail[$index].cheque_number" required>
                        </div>
                        <div flex="none" my-setter width-in-percent="1"></div>
                        <div flex="20" layout layout-align="center stretch">
                            <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail[$index].cheque_bank" required>
                        </div>
                        <div flex="none" my-setter width-in-percent="1"></div>
                        <div flex="20" layout layout-align="center stretch">
                            <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="paymentDetail[$index].cheque_date" required>
                        </div>
                    </div>
                </span> 
                <div flex="none" layout layout-align="start stretch">
                    <div flex="25"></div>
                    <div flex layout layout-align="start stretch">
                        <md-button flex class="md-raised buttons-submit" ng-click="AddNewPaymentDetail()"> Add New Cheque Detail </md-button>
                    </div>
                </div> -->

                <!-- <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addTenant($event)" ng-disabled="addForm.$error.required.length > 0"> Add New Tenant </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button>  -->
        <!-- </div> -->