<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">3</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
            <button flex="none" class="flat-button" ng-click="addNewTenant()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add New Tenant 
            </button>
            <button flex="none" class="flat-button" ng-click="downloadPage()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/download-button.png" layout layout-align="center center" >Download 
            </button>
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <th> Tenant Name</th>
                <th> Start of Contract</th>
                <th> End of Contract</th>
                <th> Items</th>
                <th> Rent </th>
                <th> Electricity Bill </th>
                <th> Water Bill </th>
                <th> Laundry Bill </th>
                <th> </th>
            </tr>
            <tr ng-repeat="row in rows">
                <td ng-click="showCompleteDetails()"> {{row.tenant_name}} </td>
                <td> {{row.start_date}} </td>
                <td> {{row.end_date}} </td>
                <td> {{row.items}} </td>
                <td> {{row.rent}}</td>
                <td> {{row.electricity_bill}}</td>
                <td> {{row.water_bill}}</td>
                <td> {{row.laundry_bill}}</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <ng-form flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Add New Tenant</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Age </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Birthday</span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Mobile No </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency Contact </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency No </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Address </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Start of Contract </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> End of Contract </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            
        </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addNewRoom()"> Add New Tenant </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="addNewRoom()"> Cancel </button> 
        </div>
    </ng-form>
</div>
<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-special-white-space"></div>
    <div flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >View Tenant Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex layout="row" layout-align="start stretch" class="sidebar-form-content">
            <div flex layout="column" layout-align="start stretch" class="sidebar-form-defined-details">
                <span flex="none" class="defined-header">Basic Information</span>
                <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content form-padding" >
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Age </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Birthday</span>
                        <input type="number" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Mobile No </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency Contact </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Emergency No </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Address </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Start of Contract </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                        <span flex="none" class="sidebar-form-label" layout layout-align="start center"> End of Contract </span>
                        <input type="text" class="sidebar-form-input" layout layout-align="start stretch" disabled>
                    </span>
                    
                </div>
            </div>
            <div flex="60" layout="column" layout-align="start stretch" class="sidebar-form-defined-details">
                <span flex="none" class="defined-header">Billing Information</span>
                <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content form-padding" >
                    <table class="page-table">
                        <tr>
                            <th> Bank</th>
                            <th> Cheque Number</th>
                            <th> Cheque Date</th>
                            <th> Amount </th>
                        </tr>
                        <tr> <!--ng-repeat="row in modalRows track by $index"-->
                            <td> {{row.tenant_name}} </td>
                            <td> {{row.start_date}} </td>
                            <td> {{row.end_date}} </td>
                            <td> {{row.room_items}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>