<div flex layout layout-align="center stretch" id="login-container">
    <div flex="70" hide-xs hide-sm hide-md layout layout-align="start stretch" id="image-container">
        <span flex layout layout-align="start stretch" id="background-image">
    </div>
    <div flex layout="column" flex-md="60" layout-align="start stretch" id="login-form-container">
        <div flex></div>
        <ng-form name="login" flex  layout="column" layout-align="center stretch" id="login-form" >
            <span id="login-form-title" layout layout-align="center center"> Login to continue</span>
            <form flex layout="column" layout-align="start stretch" id="login-form-body" ng-submit="Login()">
                <span layout layout-align="center center">
                    <input type="text" placeholder="Username" ng-model="user.username" ng-required="true">
                </span>
                <span layout layout-align="center center">
                    <input type="password" placeholder="Password" ng-model="user.password" ng-required="true">
                </span>
                <span layout layout-align="center center">
                    <button type="submit" class="submit-button" ng-click="Login()">Login</button>
                </span>
            </form>
        </ng-form>
        <div flex></div>
    </div>
</div>