<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">{{rows.length > 0 ? rows.length : 0}}</span> Items</div>
        </div>
        <div flex="20" layout layout-align="end stretch">
            <button flex="none" class="flat-button" ng-click="addNewBilling()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Create Billing
            </button>
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <!-- <th> Item #</th> -->
                <th> Billing Name</th>
                <th> Billing Description</th>
                <th> Billing Month/Year </th>
                <th> Percentage Completion </th>
            </tr>
            <tr ng-if="rows.length == 0" class="empty-table"> 
                <td colspan="4" align="center"> No Data </td>
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <!-- <td > {{row.item_number}} </td> -->
                <td ng-click="showCompleteDetails(row)"> {{row.billing_name}} </td>
                <td> {{row.billing_description}} </td>
                <td> {{row.month}}/{{row.year}} </td>
                <td> {{row.completion}}% </td>
            </tr>
        </table>
    </div>
</div>
<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <ng-form flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header" ng-click="addBilling()"> 
            <span flex layout layout-align="start center" >Generate Billing</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <!-- <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Item # </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch">
            </span> -->
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center">Billing Name <i class="required"> * </i></span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="billing.billing_name" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Billing Description </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="billing.billing_description">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Billing Month <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" ng-model="billing.month" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Billing Year <i class="required"> * </i></span>
                <input type="number" class="sidebar-form-input" layout layout-align="start stretch" ng-model="billing.year" required>
            </span>
        </div>
        <div flex="none" layout layout-align="center center" ng-if="addForm.$error.required.length > 0" class="sidebar-form-error"> Complete all fields </div>
        <div flex="none" layout layout-align="center center" ng-if="errorNotificaton != ''" class="sidebar-form-error"> {{errorNotification}} </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="addBilling()" ng-disabled="addForm.$error.required.length > 0"> Add New Billing </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
        </div>
    </ng-form>
</div>

<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-special-white-space"></div>
    <div flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >View Billing Information</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar()"></span>
        </span>
        <div flex layout="row" layout-align="start stretch" class="sidebar-form-content">
            <div flex layout="column" layout-align="start stretch" class="sidebar-form-defined-details">
                <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content form-padding" >
                    <table class="page-table">
                        <tr>
                            <th> Tenant Name</th>
                            <th> Rent Amount</th>
                            <th> Utility Amount</th>
                            <th> Total Amount </th>
                        </tr>
                        <tr> <!--ng-repeat="row in modalRows track by $index"-->
                            <td> {{row.tenant_name}} </td>
                            <td> {{row.start_date}} </td>
                            <td> {{row.end_date}} </td>
                            <td> {{row.room_items}} </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>