<div flex layout="column" layout-align="start stretch" class="page-container">
    <div flex="none" layout layout-align="end stretch" class="page-header">
        <div flex="80" layout layout-align="start stretch" class="page-header-details">
            <div flex layout layout-align="start center"> <span class="emphasize">{{rows.length > 0 ? rows.length : 0}}</span> Item 
                <span ng-if="rows.length > 1">s</span>
            </div>
        </div>
        <div flex="20" layout layout-align="end stretch">
            <button flex="none" class="flat-button" ng-click="addNewUser()" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/add.png" layout layout-align="center center" >Add New User 
            </button>
            <button flex="none" class="flat-button" ng-click="downloadPage('user')" layout layout-align="center stretch">
                <img flex="none" src="public/assets/images/icons/download-button.png" layout layout-align="center center" >Download 
            </button>
        </div>
        
    </div>
    <div flex layout="column" layout-align="start stretch" class="page-content">
        <table class="page-table">
            <tr>
                <th> Name</th>
                <th> Username</th>
                <th> Mobile Number</th>
                <th> Branch </th>
                <th> Branch Role</th>
                <!-- <th> </th> -->
            </tr>
            <tr ng-repeat="row in rows track by $index">
                <td ng-click="showCompeleteDetails(row)"> {{row.name}} </td>
                <td> {{row.username}} </td>
                <td> {{row.mobile_number}} </td>
                <td> {{row.branch_name}} </td>
                <td> {{row.role}} </td>
                <!-- <td></td> -->
            </tr>
        </table>
    </div>
</div>

<div ng-if="showSideNav" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <div flex class="sidebar-form" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >Add New User</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar(user)"></span>
        </span>
        <form name="addForm" flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content" novalidate>
            
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name <i class="required"> * </i></span>
                <input type="text" name="name"  ng-model="user.name" class="sidebar-form-input" layout layout-align="start stretch" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Username <i class="required"> * </i></span>
                <input type="text" name="username" ng-model="user.username" class="sidebar-form-input" layout layout-align="start stretch"  required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Password <i class="required"> * </i></span>
                <input type="password" name="password" ng-model="user.password"  class="sidebar-form-input" layout layout-align="start stretch" required>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Confirm Password <i class="required"> * </i></span>
                <input type="password" name="confirm_password" ng-model="confirmPassword"  class="sidebar-form-input" layout layout-align="start stretch" required>
                
            </span>
            <span flex="none" layout layout-align="center stretch" ng-if="user.password != confirmPassword && user.password.length > 0" class="sidebar-form-error">
                <span >Passwords do not match</span>
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Mobile Number </span>
                <input type="text" name="mobile_number"ng-model="user.mobile_number"  class="sidebar-form-input" layout layout-align="start stretch">
            </span>
            <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
                <button type="submit" flex class="page-add-button" ng-click="addUser($event)" ng-disabled="addForm.$error.required.length > 0 || user.password != confirmPassword"> Add New User </button>
                <span class="space-between-buttons"></span>
                <button flex class="page-cancel-button" ng-click="CloseSidebar('user')"> Cancel </button> 
            </div>
        </form>
        
    </div>
</div>

<div ng-if="showCompleteDetailsFlag" layout layout-align="start stretch" class="sidebar-default-modal">
    <div flex="none" class="sidebar-white-space"></div>
    <div flex class="sidebar-form" name="addForm" layout="column" layout-align="start stretch">
        <span flex="none" layout layout-align="start stretch" class="sidebar-form-header"> 
            <span flex layout layout-align="start center" >User Details</span>
            <span flex="10" class="sidebar-form-close" ng-click="CloseSidebar(user)"></span>
        </span>
        <div flex="none" layout="column" layout-align="start stretch" class="sidebar-form-content">
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Name </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="user.name" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Username </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="user.username" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Mobile Number </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="user.mobile_number" ng-disabled="disable">
            </span>
            <span flex="none" layout layout-align="center stretch" class="sidebar-form-input">
                <span flex="none" class="sidebar-form-label" layout layout-align="start center"> Role </span>
                <input type="text" class="sidebar-form-input" layout layout-align="start stretch" ng-model="user.role" ng-disabled="disable">
            </span>
        </div>
        <div flex="none" layout="row" layout-align="start stretch" class="sidebar-form-button">
            <button flex class="page-add-button" ng-click="editUser(disable)"> 
                <span ng-if="disable"> Edit User </span>
                <span ng-if="!disable"> Update User </span>
            </button>
            <span class="space-between-buttons"></span>
            <button flex class="page-cancel-button" ng-click="CloseSidebar()"> Cancel </button> 
        </div>
    </div>
</div>